.popularCard{

    position: center;
    /* height: 40vh;
    width: 45vh;
    border-radius: 1rem;
    padding: 2rem;
    background: white;
    position: center;
    margin-top: 30px;
    box-shadow: 0 2px 8px 4px black;
    transform: translate(20%); */
    /* background: url('/Users/student30/dev/projects/my-app2/src/Assets/Screenshot 2023-08-07 at 7.18.58 AM.png'); */

}